@import url('../font/icon/iconfont.css');

.rl-button {
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 3px;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    min-width: 55px;
    min-height: 35px;
    text-align: center;
}

.rl-button-large {
    transform: scale(1.2);
}

.rl-button-small {
    transform: scale(0.8);
}

.rl-button-block {
    width: 100%;
    display: block;
}

.rl-button-mini {
    transform: scale(0.8);
}

.rl-button > span {
    margin: 0 3px;
}


.rl-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.rl-button[disabled]:active {
    transform: scale(1);
}

.rl-button + .rl-button {
    margin-left: 20px;
}

.rl-button-default {
    border: 1px solid #dcdfe6;
    background-color: #fff;
    color: #333;
}

.rl-button-default:hover {
    border: 1px solid #dfe5ff;
    background-color: #ecf5ff;
    color: #409eff;
}


.rl-button-default:focus {

    border: 1px solid #dfe5ff;
    background-color: #ecf5ff;
    color: #409eff;
}

.rl-button-success {
    border: 1px solid #67c23a;
    background-color: #67c23a;
    color: #fff;
}

.rl-button-primary {
    border: 1px solid #409eff;
    background-color: #409eff;
    color: #fff;
}

.rl-button-danger {
    border: 1px solid #f56c6c;
    background-color: #f56c6c;
    color: #fff;
}

.rl-button-warning {
    border: 1px solid #e6a23c;
    background-color: #e6a23c;
    color: #fff;
}

.rl-button-info {
    border: 1px solid #909399;
    background-color: #909399;
    color: #fff;
}

.rl-button-dashed {
    border: 1px dashed #dcdfe6;
    background-color: #fff;
    color: #333;
}

.rl-button-text {
    border: none;
    background-color: transparent;
    color: #409eff;
}

.rl-button-round {
    border-radius: 100px;
}

/**块级按钮*/
.yang-button-block {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
}

/**loading动画加载*/
.icon-loading {
    animation: loading 1.5s infinite linear;
    display: inline-block;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
